body {
    background-color: white;
}
p {
    background-color: red; 
}

h1 {
    color: rgb(100,200,255);
    font-size: 3rem;
}
p {
    line-height: 200%;
}

#paragraph_1 {
    background-color: blue; 
}


/* 
.list {
    font-size: 3rem;
}

*/

#test {
    font-size: 10rem;
    text-align: center;
    border: 3px red solid;
    padding: 3rem;
    margin: 10rem 5rem;
    width: 40rem;
    height: 30rem;
    font-family: sans-serif;
}

#myMap iframe html body {
    font-family: "Times New Roman", serif !important;
}